@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, #1a237e, #0d47a1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
